.bars {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.bar {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 4px;

    text-wrap: nowrap;
}